---
import Layout from "../../layouts/Layout.astro";
import {loadActivePeople} from "../../domain/people/server";

const title = "Artists";
---

<Layout title={title}>
    <article class="page-article">
        <h1 class="page-title">{title}</h1>
    </article>
</Layout>




