---
import Layout from "../../layouts/Layout.astro";
import ArtistRunway from "../../components/ArtistRunway.astro";

const title = "Artists";
---
<Layout title={title} pageTheme="neutraldark">
    <article class="page-article page-article--grid">
        <h1 class="page-title mb-30">{title}</h1>
        <ArtistRunway  />
    </article>
</Layout>



