.calendar-grid {
    position: relative;
    contain: layout;
}

.calendar-day {
    anchor-scope: --day-anchor;
    anchor-name: --day-anchor;
    position: relative;
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 5px;
    aspect-ratio: 1 / 1;
    background-color: rgba(0, 0, 0, 0.05);
}

.calendar-day.today {
    background-color: rgba(0, 0, 0, 0);
    outline: 3px solid rgba(0, 0, 0, 0.05);
    outline-offset: -3px;
}

/* this does nothing yet */
.calendar-day.closed {
    /*background-image: url("/assets/closed.png");*/
}

.daily-events {
    position: relative;
    /* flex: 1 1 auto; */
    /* min-height: 0; */
    width: 100%;
    overflow: scroll;
    flex: 1;
}

.date-num {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: fixed;
    position-anchor: --day-anchor;
    /*noinspection CssInvalidPropertyValue*/
    container-type: anchored;

    inset: auto;
    translate: none;

    min-height: calc(anchor-size(height));
    height: auto;
    max-height: calc(anchor-size(height) * 3 + (2 * var(--spacing)));

    opacity: 0;
    pointer-events: none;
    z-index: 20;
    transition: opacity 160ms ease;
    background-color: #73adff;
}

.overlay::after {
    position-anchor: --day-anchor;
    content: "";
    position: fixed;
    width: 20px;
    height: 20px;
    background: inherit;
    z-index: 19;
}

.overlay .overlay-events {
    /*min-height: 0;*/
    min-height: inherit;
    max-height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
}

/*.overlay .overlay-events:has(> :only-child) {*/
/*    min-height: inherit;*/
/*}*/

.overlay.short .overlay-events {
    background: linear-gradient(0.25turn, rgba(217, 217, 253, 0.4), rgba(0, 0, 0, 0));
    background: linear-gradient(0.75turn, rgba(217, 217, 253, 0.4), rgba(0, 0, 0, 0));
}

.overlay-event.scalloped-border-top {
    background: linear-gradient(rgba(217, 217, 253, 0.4), rgba(0, 0, 0, 0));
    padding-top: 40px;
    mask: linear-gradient(180deg, #0000 30px, #000 0),
    radial-gradient(30px, #000 calc(100% - 1px), #0000) top/55.5px 60px;
}


@media (width < 40rem) {
    .calendar-day {
        align-items: center;
        justify-content: center;
    }

    .calendar-day.bg-img {
        background-image: none !important;
    }

    .daily-events,
    .single-event-anchor {
        display: none;
    }

    .calendar-day:not(:has(.overlay)) {
        background-color: rgba(0, 0, 0, 0);
    }

    .date-num {
        height: calc(var(--spacing) * 7);
        width: calc(var(--spacing) * 7);
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.05);
    }

    .calendar-day.placeholder .date-num {
        color: rgba(0, 0, 0, 0.25);
    }

    .calendar-day:not(:has(.overlay)) .date-num {
        background-color: rgba(0, 0, 0, 0);
    }

    .overlay {
        margin-block: var(--spacing);
        width: calc(anchor-size(width) * 3 + (2 * var(--spacing)));
        position-area: y-start span-x-end;
        position-try-order: most-inline-size;
        position-try-fallbacks: flip-inline, flip-block, flip-inline flip-block;
    }

    .overlay::after {
        inset-inline-start: anchor(center);
        top: calc(anchor(top) - var(--spacing));
        clip-path: polygon(50% 50%, 0 0, 100% 0);
        transform: translate(-50%, 0);
    }

    .overlay .overlay-events:has(> :only-child) {
        background: linear-gradient(0.50turn, rgba(217, 217, 253, 0.4), rgba(0, 0, 0, 0));
    }

    @container anchored((fallback: flip-block) or (fallback: flip-inline flip-block)) {
        .overlay::after {
            top: auto;
            bottom: calc(anchor(bottom) - var(--spacing));
            clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
        }

        .overlay .overlay-events:has(> :only-child) {
            background: linear-gradient(1turn, rgba(217, 217, 253, 0.4), rgba(0, 0, 0, 0));

        }
    }
}


@media (width >= 40rem) {
    .calendar-day.placeholder {
        background-color: rgba(0, 0, 0, 0.025);
    }

    .date-num {
        height: calc(var(--spacing) * 6);
        width: calc(var(--spacing) * 6);
        padding: calc(var(--spacing) * 4);
    }

    .calendar-day.placeholder .date-num {
        color: rgba(0, 0, 0, 0.25);
    }

    .calendar-day.bg-img .date-num {
        background-color: #f2f2f2;
        outline: 3px solid white;
    }

    .overlay {
        margin-inline: 0.25rem;
        width: calc(anchor-size(width) * 2 + var(--spacing));
        position-area: inline-start span-block-end;
        position-try-order: most-block-size;
        position-try-fallbacks: flip-block, flip-inline, flip-inline flip-block;
    }

    .overlay::before {
        content: "";
        position: absolute;
        left: 100%;
        right: auto;
        width: .25rem;
        height: 100%;
    }

    .overlay::after {
        inset-inline-start: calc(anchor(left) - var(--spacing));
        top: anchor(center);
        clip-path: polygon(50% 50%, 0 0, 0 100%);
        transform: translate(0%, -50%);
    }

    .overlay .overlay-events:has(> :only-child) {
        background: linear-gradient(0.25turn, rgba(217, 217, 253, 0.4), rgba(0, 0, 0, 0));
    }

    @container anchored((fallback: flip-inline) or (fallback: flip-inline flip-block)) {
        .overlay::before {
            right: 100%;
            left: auto;
        }

        .overlay::after {
            inset-inline-start: calc(anchor(right) + var(--spacing));
            clip-path: polygon(50% 50%, 100% 0, 100% 100%);
            transform: translate(-100%, -50%);
        }

        .overlay .overlay-events:has(> :only-child) {
            background: linear-gradient(0.75turn, rgba(217, 217, 253, 0.4), rgba(0, 0, 0, 0));
        }

    }
}


@media (hover: hover) and (pointer: fine) {

    .calendar-day:hover .overlay,
    .calendar-day:focus-within .overlay {
        opacity: 1;
        pointer-events: auto;
    }
}

@media (hover: none),
(pointer: coarse) {
    .calendar-day .overlay.is-open {
        opacity: 1;
        pointer-events: auto;
    }
}