/* multiple events will be listed inside the calendar day box, with the title, time, and short description. Each event will be a link to the event page. */
.calendar-day {
    position: relative;
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 5px;
    aspect-ratio: 1 / 1;
    background-color: rgba(0, 0, 0, 0.05);
}

.calendar-day.today {
    background-color: rgba(0, 0, 0, 0);
    outline: 3px solid rgba(0, 0, 0, 0.05);
    outline-offset: -3px;
}

/* this does nothing yet */
.calendar-day.closed {
    background-image: url("/assets/closed.png");
}

.daily-events {
    position: relative;
    /* flex: 1 1 auto; */
    /* min-height: 0; */
    width: 100%;
    overflow: scroll;
    flex: 1;
}

.date-num {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* event info tooltip overlay rules for mobile */
.overlay {
    position: absolute;
    width: calc(500% + 1rem);
    height: calc(200% + 0.25rem);
    height: calc(400% + 0.75rem);
    opacity: 0;
    pointer-events: none;
    z-index: 20;
    transition: opacity 160ms ease;
    background-color: #B8B8FF;
    background-color: aliceblue;
    background-color: #265eac;
    background-color: #6598e0;
    background-color: #73adff;
}

.overlay .overlay-events {
    height: 100%;
    overflow: scroll;
}

.overlay.short .overlay-events {
    background: linear-gradient(0.25turn, rgba(217, 217, 253, 0.4), rgba(0, 0, 0, 0));
    background: linear-gradient(0.75turn, rgba(217, 217, 253, 0.4), rgba(0, 0, 0, 0));
}

.overlay-event.scalloped-border-top {
    background: linear-gradient(rgba(217, 217, 253, 0.4), rgba(0, 0, 0, 0));
    padding-top: 40px;
    mask:
        linear-gradient(180deg, #0000 30px, #000 0),
        radial-gradient(30px, #000 calc(100% - 1px), #0000) top/55.5px 60px;
}

.overlay::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: inherit;
    z-index: 19;
}

@media (width <40rem) {
    .calendar-day {
        align-items: center;
        justify-content: center;
    }

    .calendar-day.bg-img {
        background-image: none !important;
    }

    .daily-events {
        display: none;
    }

    .calendar-day:not(:has(.overlay)) {
        background-color: rgba(0, 0, 0, 0);
    }

    .date-num {
        height: 50%;
        width: 50%;
        height: calc(var(--spacing) * 7);
        width: calc(var(--spacing) * 7);
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.05);
    }

    .calendar-day.placeholder .date-num {
        color: rgba(0, 0, 0, 0.25);
    }

    .calendar-day:not(:has(.overlay)) .date-num {
        background-color: rgba(0, 0, 0, 0);
    }

    /*** overlay ***/
    .overlay {
        top: calc(100% + .25rem);
    }

    .overlay.short {
        height: calc(200% + 0.25rem);
    }

    /* bottom row */
    .calendar-grid> :nth-child(n + 22) .overlay {
        top: calc(-200% - .50rem);
        top: calc(-400% - 1rem);
    }

    .calendar-grid> :nth-child(n + 22) .overlay.short {
        top: calc(-200% - .50rem);
    }

    /* columns 1-7 */
    .calendar-grid>:is(:nth-child(7n + 1), :nth-child(7n + 2)) .overlay {
        right: calc(-400% - 1rem);
    }

    .calendar-grid> :nth-child(7n + 3) .overlay {
        right: calc(-300% - .75rem);
    }

    .calendar-grid> :nth-child(7n + 4) .overlay {
        right: calc(-200% - .50rem);
    }

    .calendar-grid> :nth-child(7n + 5) .overlay {
        right: calc(-100% - .25rem);
    }

    .calendar-grid>:is(:nth-child(7n + 6), :nth-child(7n)) .overlay {
        right: 0;
    }

    /*** ::after ***/
    .overlay::after {
        bottom: 99%;
        left: 50%;
        transform: translateX(-50%);
        clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    }

    /* bottom row */
    .calendar-grid> :nth-child(n + 22) .overlay::after {
        top: 99%;
        bottom: auto;
        left: 50%;
        transform: translateX(-50%);
        clip-path: polygon(50% 50%, 0 0, 100% 0);
    }

    .calendar-grid> :nth-child(7n + 1) .overlay::after,
    .calendar-grid> :nth-child(7n + 2) .overlay::after {
        left: 10%;
    }

    .calendar-grid> :nth-child(7n + 3) .overlay::after {
        left: 30%;
    }

    .calendar-grid> :nth-child(7n + 4) .overlay::after {
        left: 50%;
    }

    .calendar-grid> :nth-child(7n + 5) .overlay::after {
        left: 70%;
    }

    .calendar-grid> :nth-child(7n + 6) .overlay::after,
    .calendar-grid> :nth-child(7n + 7) .overlay::after {
        left: 90%;
    }

    .calendar-grid .overlay.short .overlay-events {
        background: linear-gradient(1turn, rgba(217, 217, 253, 0.4), rgba(0, 0, 0, 0));
    }

    /*** overlay-events ***/
    .calendar-grid> :nth-child(n + 22) .overlay.short .overlay-events {
        background: linear-gradient(0.50turn, rgba(217, 217, 253, 0.4), rgba(0, 0, 0, 0));
    }
}


@media (width >=40rem) {
    .calendar-day.placeholder {
        background-color: rgba(0, 0, 0, 0.025);
    }

    .date-num {
        height: calc(var(--spacing) * 6);
        width: calc(var(--spacing) * 6);
        padding: calc(var(--spacing) * 4);
    }

    .calendar-day.placeholder .date-num {
        color: rgba(0, 0, 0, 0.25);
    }

    .calendar-day.bg-img .date-num {
        background-color: whitesmoke;
        background-color: gainsboro;
        background-color: #f2f2f2;
        outline: 3px solid white;
    }

    /*** overlay ***/
    .overlay {
        top: 0;
        left: calc(100% + 0.25rem);
        width: calc(200% + 0.25rem);
        height: calc(200% + 0.25rem);
    }

    /* top row */
    .calendar-grid> :nth-child(-n + 7) .overlay {
        left: calc(100% + 0.25rem);
    }

    /* bottom row */
    .calendar-grid> :nth-child(n + 22) .overlay:not(.short) {
        top: calc(-100% - .25rem);
    }

    /* right 3 columns */
    .calendar-grid> :is(:nth-child(7n + 5), :nth-child(7n + 6), :nth-child(7n)) .overlay {
        left: calc(-200% - 0.50rem);
        /* width: calc(200% + 0.50rem); */
        /* left: calc(-200% - 0.25rem); */
    }

    .overlay.short {
        top: 0;
        left: calc(100% + 0.25rem);
        width: calc(200% + 0.25rem);
        height: 100%;
    }

    /*** ::after ***/
    /* left side, bottom row (by default) */
    .calendar-grid> :nth-child(n + 22) .overlay::after {
        top: 75%;
        right: 99%;
        transform: translateY(-50%);
        clip-path: polygon(100% 0, 50% 50%, 100% 100%);
    }

    /* right side, bottom row */
    .calendar-grid> :is(:nth-child(7n + 5), :nth-child(7n + 6), :nth-child(7n)):is(:nth-child(n + 22)) .overlay::after {
        top: 75%;
        left: 99%;
        transform: translateY(-50%);
        clip-path: polygon(0 0, 50% 50%, 0 100%);
    }

    /* right side, not bottom */
    .calendar-grid> :is(:nth-child(7n + 5), :nth-child(7n + 6), :nth-child(7n)):not(:nth-child(n + 22)) .overlay::after {
        top: 25%;
        left: 99%;
        transform: translateY(-50%);
        clip-path: polygon(0 0, 50% 50%, 0 100%);
    }

    /* not right side, not bottom (everywhere else) */
    .calendar-grid> :not(:nth-child(7n + 5), :nth-child(7n + 6), :nth-child(7n)):not(:nth-child(n + 22)) .overlay::after {
        top: 25%;
        right: 99%;
        transform: translateY(-50%);
        clip-path: polygon(100% 0, 50% 50%, 100% 100%);
    }

    /*** overlay.short::after ***/
    .calendar-grid .overlay.short:not(.medium)::after {
        top: 50%;
        right: 99%;
        transform: translateY(-50%);
        clip-path: polygon(100% 0, 50% 50%, 100% 100%);
    }

    .calendar-grid> :is(:nth-child(7n + 5), :nth-child(7n + 6), :nth-child(7n)) .overlay.short:not(.medium)::after {
        top: 50%;
        left: 99%;
        transform: translateY(-50%);
        clip-path: polygon(0 0, 50% 50%, 0 100%);
    }

    /*** ::before ***/
    /* left side */
    .overlay::before {
        content: "";
        position: absolute;
        right: 100%;
        width: .25rem;
        height: 100%;
    }

    /* right side */
    .calendar-grid> :is(:nth-child(7n + 5), :nth-child(7n + 6), :nth-child(7n)) .overlay::before {
        content: "";
        position: absolute;
        left: 100%;
        width: .25rem;
        height: 100%;
    }

    .calendar-grid .overlay.short .overlay-events {
        background: linear-gradient(0.75turn, rgba(217, 217, 253, 0.4), rgba(0, 0, 0, 0));
    }

    /*** overlay-events ***/
    .calendar-grid> :is(:nth-child(7n + 5), :nth-child(7n + 6), :nth-child(7n)) .overlay.short .overlay-events {
        background: linear-gradient(0.25turn, rgba(217, 217, 253, 0.4), rgba(0, 0, 0, 0));
    }
}


@media (hover: hover) and (pointer: fine) {

    .calendar-day:hover .overlay,
    .calendar-day:focus-within .overlay {
        opacity: 1;
        pointer-events: auto;
    }
}

@media (hover: none),
(pointer: coarse) {
    .calendar-day .overlay.is-open {
        opacity: 1;
        pointer-events: auto;
    }
}