@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --announcement-h: 0px;
}
.site-header {
  top: var(--announcement-h);
}

@layer base {
  :focus {
    outline: none;
  }

  :focus-visible {
    @apply ring-2 ring-indigo-500 ring-offset-2;
  }
}

