/* Type: spring */
.hb.hamburger--spring .hamburger-inner {
  top: calc(var(--hb-height) / 2);
  margin-top: 0; /* override base centering */
  transition: background-color 0s 0.13s linear;
}

.hb.hamburger--spring .hamburger-inner::before {
  top: calc(var(--hb-height) + var(--hb-spacing));
  transition: top 0.1s 0.2s ease-in, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hb.hamburger--spring .hamburger-inner::after {
  top: calc(var(--hb-height) * 2 + var(--hb-spacing) * 2);
  bottom: auto; /* override base */
  transition: top 0.2s 0.2s ease-in, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hb.hamburger--spring.is-active .hamburger-inner {
  background-color: transparent; /* middle bar disappears */
  transition-delay: 0s;
}

.hb.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(45deg);
  transition: top 0.1s ease-out, transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hb.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.2s ease-out, transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}
