---
// SSR on this page only. Elsewhere, SSG
// export const prerender = false;

// src/pages/events.astro
import Layout from "../layouts/Layout.astro";
import { EventsCalendar } from "../components/EventsCalendar";
import UpcomingEvents from "../components/UpcomingEvents.astro";
import UpcomingEventsFallback from "../components/UpcomingEventsFallback.astro";
import { buildEventsByYearMonthDay } from "../scripts/events";
import type { EventItem, EventsByYearMonthDay } from "../scripts/events";

import { loadEventsPublishedCached } from "../scripts/events";

const now = new Date();

const events: EventItem[] = await loadEventsPublishedCached();
const eventsByYearMonthDay: EventsByYearMonthDay =
    buildEventsByYearMonthDay(events);
---

<Layout title="BluTattoo Studio — Events">
    <article class="page-article page-article--stack space-y-6">
        <h1 class="page-title">Events</h1>

        <UpcomingEvents events={events} server:defer >
            <UpcomingEventsFallback slot="fallback" />
        </UpcomingEvents>

        <!-- <UpcomingEventsFallback slot="fallback" /> -->

        <EventsCalendar
            client:load
            eventsByYearMonthDay={eventsByYearMonthDay}
            currentDate={now}
        />
    </article>
</Layout>
