---
interface Props {
  image: string;
  alt?: string;
  className?: string;
}

const {
  image,
  alt = "",
  className = ""
} = Astro.props;
---

<section class={`relative overflow-hidden shadow-lg ${className}`}>

  <img
  src={image}
  alt={alt}
  class="w-full h-auto"
  loading="eager"
  decoding="async"
/>


  <!-- gradient overlay -->
  <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-black/70 via-black/30 to-transparent"></div>
</section>
