---
import { ClientRouter } from "astro:transitions";
import { getEntry } from "astro:content";
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title = "BluTattoo Studio", isHome = false } = Astro.props;
import "@fontsource/diplomata-sc";
import "@fontsource/spectral";

import spectral400Url from "@fontsource/spectral/files/spectral-latin-400-normal.woff2?url";
import diplomataUrl from "@fontsource/diplomata-sc/files/diplomata-sc-latin-400-normal.woff2?url";

import "@fontsource/spectral/400.css";
// import '@fontsource/spectral/700.css';
import "@fontsource/diplomata-sc/400.css";

// Load site info for branding
const site = await getEntry("siteInfo", "main");
---

<!doctype html>
<html lang="en">
  <head>
    <!-- <style>
      /* Paint black immediately to avoid white flash between navigations */
      html, body { background:#000; }
    </style> -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <!-- <ClientRouter /> {/* enable SPA-style navigation */} -->
    <link
      rel="preload"
      href={spectral400Url}
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href={diplomataUrl}
      as="font"
      type="font/woff2"
      crossorigin
    />
    <script is:inline src="/scripts/mobile-menu.js"></script>
  </head>
  <body
    class="min-h-screen text-emerald-950 font-[Spectral] bg-black"
  >
    <!-- fixed background image -->
    <!-- <img
        src={bg}
        alt=""
        aria-hidden="true"
        fetchpriority="high"
        loading="eager"
        decoding="async"
        transition:persist
        class="fixed inset-0 -z-10 h-full w-full object-cover md:[background-attachment:fixed]"
      /> -->
    <!-- <Header /> -->
    <!-- <main class="mx-auto max-w-6xl px-4 py-8">
      <slot />
    </main> -->
    <main class="mx-auto">
      <!-- <div class="md:rounded-2xl bg-white/85 shadow-2xl ring-1 ring-black/5 backdrop-blur-sm"> -->
      <div class="md:bg-white shadow-2xl ring-1 ring-black/5">
        <div>
          <Header variant={isHome ? "home" : "default"} class="site-header" />
          <!-- todo: what is this doing? vvv -->
          <div id="pagecontent-wrap" class="relative z-40 bg-white">
            <slot />
            {/* page content goes here */}
          </div>
        </div>
      </div>
    </main>
    <!-- <slot name="footer" /> -->
    <Footer />
  </body>
</html>
