---
import GuestSpotCardInfoBannerSvg from "./GuestSpotCardInfoBannerSvg.astro";
const {
    color = 'black',
    size = 24,
    style = '',
    primaryRole,
    dateRange
} = Astro.props;
---

<div class="guest-spot-card-info-banner-container absolute w-full top-0 z-10 -translate-y-[70px]">
    <GuestSpotCardInfoBannerSvg primaryRole={primaryRole} dateRange={dateRange} />
</div>
