---
// src/components/Scatter.astro

interface Props {
    count?: number;
    class?: string;
}

const {
    count = 10,
    class: className = ''
} = Astro.props;

const slotHtml = Astro.slots.has('default')
    ? await Astro.slots.render('default')
    : '';

function randomBetween(min: number, max: number) {
    return Math.random() * (max - min) + min;
}

const items = Array.from({length: count}, () => ({
    top: randomBetween(0, 90),
    left: randomBetween(0, 90),
}));
---

<div class={`scatter ${className}`}>
    {items.map((item) => (
            <div
                    class="scatter-item"
                    style={`
                        top: ${item.top}%;
                        left: ${item.left}%;
                      `}
                    set:html={slotHtml}
            />
    ))}
</div>

<style>
    .scatter {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .layer {
        position: absolute;
        inset: 0;
        pointer-events: none;
    }

    .scatter-item {
        position: absolute;
    }
</style>