---
---
<div id="frameWrapper" class="group relative w-[600px] h-[600px] overflow-hidden rounded-2xl">
<!--    <div id="frameWrapper" class="group relative aspect-[4/5] sm:w-[calc((100%-1.5rem)/2)] md:w-[calc((100%-3rem)/3)] lg:w-[calc((100%-4.5rem)/4)] overflow-hidden rounded-2xl">-->
    <div class="applied-mask--frameclip h-full w-full">

        <img
                id="photo"
                src="/uploads/people/laurna.jpeg"
                alt="Artist Name"
                class="absolute h-full w-full object-cover transition-transform duration-300 group-hover:scale-105"
        />
    </div>

    <!--<img id="frame" src="/uploads/misc_images/testframe3_2.svg" alt="Artist Name" class="absolute inset-0 h-full w-full opacity-90" aria-hidden="true">-->
    <img id="frame" src="/uploads/misc_images/testframe3_2.svg" alt="Artist Name" class="absolute inset-0 h-full w-full opacity-40" aria-hidden="true">

    <!--<svg id="frameclip" xmlns="http://www.w3.org/2000/svg" class="absolute inset-0 top-0 h-full w-full opacity-0"-->
    <!--     viewBox="0 0 346.3 500">-->
    <!--    <polygon id="window" fill="black" points="283.4 441.7 59.8 442.2 59.8 367 61.6 57.1 284.7 55.4 285.1 289.9 283.4 441.7"/>-->
    <!--</svg>-->
    <svg id="frameclip" xmlns="http://www.w3.org/2000/svg" class="absolute inset-0 top-0 h-full w-full opacity-0" viewBox="0 0 397.6 500">
        <rect id="window" fill="black" x="78" y="82.7" width="242.9" height="334.9"/>
    </svg>
</div>

<style is:inline>
    .applied-mask--frameclip {
        mask-image: url("/uploads/misc_images/frameensmallened3.svg");
        mask-position: center;
        mask-size: contain;
        //mask-repeat: no-repeat;
    }

    #photo {
        //filter: grayscale(1);
    }
</style>

<script is:inline>
    (() => {
        const shape = document.getElementById("window");
        const photo = document.getElementById("photo");
        const frameWrapper = document.getElementById("frameWrapper");

        function syncPhotoToWindow() {
            const shapeRect = shape.getBoundingClientRect();
            const wrapperRect = frameWrapper.getBoundingClientRect();

            photo.style.top = `${shapeRect.top - wrapperRect.top}px`;
            photo.style.left = `${shapeRect.left - wrapperRect.left}px`;
            photo.style.width = `${shapeRect.width}px`;
            photo.style.height = `${shapeRect.height}px`;

            console.log("-----------");
            console.log(shapeRect.top - wrapperRect.top);
            console.log(shapeRect.left - wrapperRect.left);
            console.log(shapeRect.width);
            console.log(shapeRect.height);
        }

        const ro = new ResizeObserver(syncPhotoToWindow);
        ro.observe(frameWrapper);

        if (photo.complete) {
            syncPhotoToWindow();
        } else {
            photo.addEventListener("load", syncPhotoToWindow, {once: true});
        }

        window.addEventListener("load", syncPhotoToWindow, {once: true});
    })();
</script>


<!--<style is:inline>-->
<!--    .applied-mask&#45;&#45;frameclip {-->
<!--        mask-image: url("/uploads/misc_images/frameclip.svg");-->
<!--        mask-size: contain;-->
<!--        mask-position: center;-->
<!--        mask-repeat: no-repeat;-->
<!--    }-->
<!--</style>-->
